
if SHIELD_AZELUS_MK4

config ZMK_KEYBOARD_NAME
	default "Azelus MK4"
	
endif
    
# Bluetooth settings
CONFIG_BT_GATT_ENFORCE_SUBSCRIPTION=y
CONFIG_ZMK_BLE_PASSKEY_ENTRY=y

CONFIG_ZMK_USB=y
CONFIG_USB_DEVICE_VID=0xC0DE
CONFIG_USB_DEVICE_PID=0xBA5E
CONFIG_USB_DEVICE_MANUFACTURER=Azel4231(+ZMK)

