/*
 * build firmware locally:
 *   cd github/zmk/app
 *   west build -b nice_nano_v2 -- -DSHIELD=redpoll
     ;; reset controller
 *   cp build/zephyr/zmk.uf2 /media/.../NICENANO/
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        OE {
            bindings = <&kp SEMICOLON>;
            key-positions = <3 4>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
                                                                     &kp J    &kp L  &kp U      &kp Z    &kp LBKT   &kp APOS
                                                                     &kp M    &kp N  &kp E      &kp I    &kp O      &kp BSPC
                                                                     &kp K    &kp H  &kp COMMA  &kp DOT  &kp MINUS  &kp BSLH
                                                                     &kp RET  &mo 2  &kp SPACE  &trans   &kp FSLH
&kp TAB    &kp Q       &kp W         &kp F         &kp P      &kp B
&kp LCTRL  &kp A       &kp R         &kp S         &kp T      &kp G
&mo 3      &kp Y       &kp X         &kp C         &kp D      &kp V
           &kp ESCAPE  &kp LEFT_GUI  &kp LEFT_ALT  &kp LSHFT  &mo 1
            >;

            label = "Base";
        };

        sym {
            bindings = <
                                                                                       &kp TILDE     &kp N7  &kp N8  &kp N9  &kp BSLH  &kp LS(SQT)
                                                                                       &kp LS(STAR)  &kp N4  &kp N5  &kp N6  &kp PLUS  &trans
                                                                                       &kp BSLH      &kp N1  &kp N2  &kp N3  &kp DOT   &kp GRAVE
                                                                                       &trans        &kp N0  &trans  &trans  &kp FSLH
&kp LS(AMPS)  &kp AT         &kp LS(DQT)    &kp LS(DLLR)   &kp LBRC      &kp RBRC
&kp POUND     &kp LS(EXCL)   &kp LS(EQUAL)  &kp LS(COLON)  &kp LS(LPAR)  &kp LS(RPAR)
&trans        &kp LS(QMARK)  &kp LT         &kp LS(GT)     &kp LBKT      &kp RBKT
              &kp PIPE       &trans         &trans         &trans        &trans
            >;

            label = "Sym";
        };

        nav {
            bindings = <
                                                &kp PG_UP  &kp HOME  &kp UP    &kp END    &trans  &trans
                                                &kp PG_DN  &kp LEFT  &kp DOWN  &kp RIGHT  &trans  &trans
                                                &trans     &trans    &trans    &kp DEL    &trans  &trans
                                                &trans     &trans    &trans    &trans     &trans
&trans  &trans  &kp F7  &kp F8  &kp F9  &kp F10
&trans  &trans  &kp F4  &kp F5  &kp F6  &kp F11
&trans  &trans  &kp F1  &kp F2  &kp F3  &kp F12
        &trans  &trans  &trans  &trans  &trans
            >;

            label = "Nav";
        };

        right {
            bindings = <
                                                &trans  &trans  &trans  &trans  &trans  &trans
                                                &trans  &trans  &trans  &trans  &trans  &trans
                                                &trans  &trans  &trans  &trans  &trans  &trans
                                                &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans
        &trans  &trans  &trans  &trans  &trans
            >;

            label = "Right";
        };
    };
};
